:host {
    background: rgb(14, 13, 13);
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.main{
    display: flex;
    width: 100%;
    height: 100vh;
    .canvas{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        canvas {
            cursor: grab;
            touch-action: none;
            opacity: 0;
            transition: opacity 1200ms cubic-bezier(0.16, 1, 0.3, 1);

            &.on { opacity: 1; }
            &:active { cursor: grabbing; }
        }
    }
    .text{
        width: 50%;
        height: 200px;
        background-color: aquamarine;
    }
}