.ticker-wrap {
    width: 100%;
    overflow: hidden;
    border-top: 2px solid #7e47ff;
    border-bottom: 2px solid #7e47ff;
    padding: 16px 0;
    background-color: black;
    transform: translateZ(0);
  }
 
  .ticker {
    display: flex;
    width: max-content;
    will-change: transform;
    backface-visibility: hidden;
  }

  .ticker-wrap .ticker-item {
    white-space: nowrap;
    font-size: 80px;
    font-weight: bolder;
    letter-spacing: 0.08em;
    color: aliceblue;
    font-family: Verdana, sans-serif;
    padding: 0 3rem;
  }
  .ticker-wrap .ticker-item {
  text-shadow: none;
  -webkit-text-stroke: 0;
}